/* You can add global styles to this file, and also import other style files */
.invalid {
    color: red;
}

label{
    padding: 4px;
    margin: 4px;
}
button{
color: black;
   background-color: rgb(181, 202, 159); 
   border-radius: 8px;
}
button:hover{
    background-color: brown;
}

button:disabled{
    background-color: gainsboro;
}